<div class="controll-add">
    <input id="name_field" type="Text" class="form-control" placeholder="name"/>
    <input id="number_field" type="Text" class="form-control" placeholder="number"/>

    {{getBackButton}}
    <input type="button" class="btn btn-primary" value="Добавить" onclick="add(name_field.value, number_field.value)"/>
</div>