<div class="bookmark-container container overflow-auto">
    {{#if def}}
        {{#each elements}}
            {{> element}}
        {{/each}}
    {{/if}}
    {{#if add}}
        {{#each elements}}
            {{> element}}
        {{/each}}
    {{/if}}
    {{#if upd}}
        {{#each elements}}
            {{> element_static}}
        {{/each}}
    {{/if}}
    
</div>

<div class="bookmark-controll container">
    {{#if def}}
        {{> default}}
    {{/if}}
    {{#if add}}
        {{> add}}
    {{/if}}
    {{#if upd}}
        {{> edit}}
    {{/if}}
</div>