<div class="bookmark-container container overflow-auto">
    {{#each elements}}
    <a class="row bookmark-row" href="/update?name={{this.Name}}">
        <div class="col">{{this.Name}}</div>
        <div class="col">{{this.Number}}</div>
    </a>
    {{/each}}
</div>

<div class="bookmark-controll container">
    {{#if def}}
        {{> default}}
    {{/if}}
    {{#if add}}
        {{> add}}
    {{/if}}
    {{#if upd}}
        {{> edit}}
    {{/if}}
</div>